<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FS | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopping.styles.css" asp-append-version="true" />



    <!-- Font Awesome-->
    <link rel="stylesheet" href="~/lib/fa_web/css/awesome-font.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fad fa-cart-shopping-fast"></i> Fast Shopping</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">

                    <ul class="navbar-nav">
                        
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle active" href="#" id="m_drop_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="me-1 fad fa-gears"></i>  Mantenimiento
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="m_drop_user">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Countries" asp-action="Index">
                                            Países
                                            <i class="ms-4 fad fa-flag"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Users" asp-action="Index">
                                            Usuarios
                                            <i class="ms-4 fad fa-users "></i>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle active" href="#" id="m_drop_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="me-1 fad fa-shop"></i>  Tienda
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="m_drop_user">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Categories" asp-action="Index">
                                            Categorías
                                            <i class="ms-4 fad fa-manhole"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Product" asp-action="Index">
                                            Productos
                                            <i class="ms-4 fad fa-barcode-read "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Orders" asp-action="Index">
                                            Procesar Pedidos
                                            <i class="ms-4 fad fa-list-check "></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Orders" asp-action="MyOrders"><i class="fal fa-arrow-right-to-bracket"></i> Mis Ordenes</a>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle active" href="#" id="m_drop_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fad fa-user me-1"></i>  @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="m_drop_user">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Account" asp-action="ChangeUser">
                                            Modificar Usuario
                                            <i class="ms-4 fal fa-user-pen "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Account" asp-action="ChangePassword">
                                            Cambiar Contraseña
                                            <i class="ms-4 fal fa-pen "></i>
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="d-flex">
                                        <a class="dropdown-item d-flex align-items-center justify-content-between" asp-area="" asp-controller="Account" asp-action="Logout">
                                            Cerrar Sesión
                                            <i class="ms-4 fal fa-arrow-right-from-bracket "></i>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="Login"><i class="fal fa-arrow-right-to-bracket"></i> Iniciar Sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container  min-vh-80 ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-3">
        <div class="container">
            &copy; 2022 - Shopping - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Pivacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
