
@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
    
    <img src="~/images/nofound.gif" />
    
    <h2>Error, página no encontrada!</h2>
   
</div>