
@{
    ViewData["Title"] = "Página no encontrada";
}

<div class="mt-5">
    <div class="row col-md-8 offset-2 mt-5">
        <img src="~/images/nofound.gif" />
    </div>
    <div class="row text-center">
        <h2>Error, página no encontrada!</h2>
    </div>
</div>