@{
    ViewData["Title"] = "No Autorizado";
}

<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="">
        <h1>No estás autorizado para ejecutar esta acción!</h1>
    </div>
    <div class="mt-5">
        <img width="800" src="~/images/forbiden.png" />
    </div>
</div>



