@{
    ViewData["Title"] = "Not Authorized";
}

<div class="mt-5">
    <div class="row text-center">

        <h2>No estás autorizado para ejecutar esta acción!</h2>
    </div>
    <div class="row"></div>
    <div class="row col-md-8 offset-2 mt-5">
        <img src="~/images/forbiden.png" />
    </div>

</div>



